#UserId {
    position: relative;
}

#UserId:hover #UserCoutorl {
    display:block;
}

#UserCoutorl {
    display: none;
    position: absolute;
    left: -20px;
    top: 16px;
    border:0.5px solid #000000;
    color:#000000;
    background: #fff;
    width: 150px;
    padding:10px
}
